include ../mixin/mixin

- var data_page = data.page_detail_news
doctype html
html(lang='vi')
    head
        +head_setting(data_page)
    body
        include ../layout/general/header
        |
        |
        include ../layout/detailNews/contentMain
        |
        |
        include ../layout/general/formLogin
        |
        |
        include ../layout/general/formRegister
        |
        |
        include ../layout/general/footer