.wrapFormApartment {
    background-image: url(../images/banner/bg.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    .wrapTittleBox {
        h2 {
            text-align: center;
            font-size: 30px;
            line-height: 29px;
            font-family: 'RobotoCondensed';
            text-transform: uppercase;
            color: $color30;
            margin-bottom: 20px;
        }
    }
    .contentItem {
        margin-top: 30px;
        .colItem {
            padding: 0 10px;
            margin-bottom: 20px;
            .formContent {
                background: #fff;
                height: 100%;
                box-shadow: 1px 4px 8px -1px;
                p {
                    text-align: justify;
                    padding: 0px 10px;
                    font-size: 13px;
                    font-family: sans-serif;
                    line-height: 28px;
                    margin: 0;
                    strong {
                        display: block;
                        text-align: center;
                        font-size: 40px;
                        font-weight: 600;
                        padding-top: 10px;
                    }
                }
                .titleContent {
                    text-align: center;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #002f5b;
                    font-weight: 600;
                    padding: 20px 0 0 0;
                    letter-spacing: 1px;
                    margin-bottom: 0;
                    font-family: 'RobotoCondensed';
                }
            }
        }
    }
    
    .wrapContentItem {
        text-align: center;
        font-size: 14px;
        line-height: 29px;
        font-family: arial;
        color: #000;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;

        strong {
           color: #cc0006;
        }
    }

}

@media (min-width: 992px) {
    
}

@media (max-width: 991px) {
    
}