.wrapContentMainDetailNews
    .container-xl.containerItem
        .contentItem
            .row    
                .col-lg-9.contentLeft
                    h2 thac

                .col-lg-3.contentRight
                    h1 thac