.wrapNewProjectIntro 
    +render_title_projectNews("DỰ ÁN MỚI NHẤT Ở Hoài Nhơn")

    .wrapContentNewProjectIntro
        ul.listNewProjectIntro 
            each item in data_page.new_project_intro
                li.itemNewProjectIntro 
                    .imgNewProjectIntro.wrapImgResize
                        a(href= 'javascript:void(0);' title= item.title ) 
                            img(src= item.url_img, alt= item.title )
                    h4
                        a(href= 'javascript:void(0);' title= item.title )= item.title 
                    if item.status_project
                        span= item.status_project
                    else 
                        if item.handed_over
                             span.handedOver= item.handed_over