.wrapReadLot
    +render_title_projectNews("Đọc Nhiều")

    .wrapContentReadLot 
        ul.listReadLot
            li.itemReadLot 
                .wrapImg.wrapImgResize
                    a(href='javascript:void(0);' title= "'Ôm đất' lúc đỉnh sốt, nhiều nhà đầu tư 'sống dở chết dở' khi đất hạ nhiệt")
                        img.objectImg(src= "images/img-detail-news/hinh-4.jpg" , alt= "'Ôm đất' lúc đỉnh sốt, nhiều nhà đầu tư 'sống dở chết dở' khi đất hạ nhiệt")
                h3.titleDes 
                    a(href='javascript:void(0);' title= "'Ôm đất' lúc đỉnh sốt, nhiều nhà đầu tư 'sống dở chết dở' khi đất hạ nhiệt") 'Ôm đất' lúc đỉnh sốt, nhiều nhà đầu tư 'sống dở chết dở' khi đất hạ nhiệt
            li.itemReadLot  
                h3.titleDes
                    a(href='javascript:void(0);' title= "Cò đất náo loạn vùng ven TP.HCM") Cò đất náo loạn vùng ven TP.HCM
            li.itemReadLot  
                h3.titleDes
                    a(href='javascript:void(0);' title= "'Ôm đất' lúc đỉnh sốt, nhiều nhà đầu tư 'sống dở chết dở' khi đất hạ nhiệt") 'Ôm đất' lúc đỉnh sốt, nhiều nhà đầu tư 'sống dở chết dở' khi đất hạ nhiệt