// .wrapContentPost {

// }

.listPost {
    padding: 10px 0 0;
    margin: 0;
    list-style: none;
    .itemContentPost {
        width: 100%;
        border-bottom: 1px $color6 dotted;
        margin-bottom: 10px;
        padding-bottom: 20px;
        display: table;

        .postTitleMain {
            font-size: 22px;
            font-weight: 600;
            line-height: 35px;
            a {
                color: $color2;
            }
        }

        .imgContentPost {
            position: relative;
            max-width: 220px;
            margin-right: 10px;
            width: 50%; 
            float: left;
            // img {
            //     width: 100%;
            // }
        }
        .timePost {
            font-size: 15px;
            background-color: #f2f2f2;
            display: inline-block;
            border-radius: 3px;
            padding: 4px 8px;
        }
        .contentPost {
            margin-top: 14px;
            word-spacing: 2px;
            line-height: 24px;
            font-size: 15px;
            color: #444;
        }
    }
}  


@media screen and(max-width: 575px) {
    .listPost {
        .itemContentPost {
            .postTitleMain {
                font-size: 18px;
            }
            .timePost {
                display: none;
            }
        }
    }
    
}