
.wrapListExpertOpinion {
    margin: 0;
    padding: 15px 0 0 0;
}
.itemContentExpertOpinion {
    list-style: none;
    margin-bottom: 20px;
}

.wrapImg {
    img {
        object-position: top;
    }
}

.nameItem {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 6px;
    margin-bottom: 5px;
    overflow: hidden;
    a {
        color: $color33;

        &:hover {
            color: $color13;
            transition: 0.6s;
        }
    }
}

li.itemContentExpertOpinion:not(:nth-child(1)) {
    display: table;
    width: 100%;

    .wrapImg {
        float: left;
        width: 90px;
        height: 85px;
        margin-right: 10px;
        padding-top: 0;
        
    }
    
    .nameItem {
        font-weight: 400;
        margin-top: -3px;
        
    }
}
