// counter

.wrapFormCounter.bgSection 
    .container-xl.containerItem
        .wrapTittleBox
            +render_title( 'LOẠI HÌNH SẢN PHẨM')

        .contentItem 
            .row.rowItem 
                each item in data_page.product
                    .col-md-4.colItem 
                        .formContent
                            a.wrapImgResize.wrapImgProduct.imgBoxshadow.imgProduct(href='javascript:void(0);' title= item.title)
                                img(src= item.url, alt= item.title )
                            .wrapDetailProduct
                                h4.titleContent= item.title
                                p.param= item.param
                                p.specifications= item.specifications
        
// end counter




