// form wrapFormApartment

.wrapFormApartment.wrapContent1
    .container-xl.containerItem
        .wrapTittleBox
            +render_title( 'THE JADE ORCHID – LIỀN KỀ SHOPHOUSE PHẠM VĂN ĐỒNG')
            .wrapContentItem
                strong Sở hữu vị trí cực đẹp 
                span : Tại cửa ngõ 
                strong KĐT 377 ha Bắc Cổ Nhuế
                span  - 
                strong Phạm Văn Đồng 
                span , Jade Orchid tọa lạc ngay ngã 3 đường lớn: 
                strong Nguyễn Đình Tứ (30m) 
                span - 
                strong Nguyễn Hoàng Tôn kéo dài (60m) 
                span  thực sự đã và đang là dự án thấp tầng được quan tâm bậc nhất tại Bắc Từ Liêm trong năm 2022. Trong bối cảnh 
                strong BIỆT THỰ LIỀN KỀ SHOPHOUSE mở bán mới
                span  tại nội đô Hà Nội đang rất khan hiếm, Thấp tầng 
                strong The Jade Orchid
                span  mở bán –  
                strong đáp ứng nhu cầu rất lớn về đầu tư
                span  cũng như sở hữu BĐS Thấp tầng trong khu vực.  
        .contentItem 
            .row.rowItem 
                each item in data.apartment
                    .col-md-3.col-sm-6.colItem 
                        .formContent
                            p.titleSerial 
                                strong= item.serial
                            h4.titleContent= item.title
                            p.contentBox= item.content_desp
// end form wrapFormApartment