.wrapLocation
    .container-xl.containerItem
        .wrapLocaContent
            +render_title_02('Vị trí Dự Án The Jade Orchid', 'VỊ TRÍ VÀNG CHIẾN LƯỢC ĐẦU TƯ SINH LỜI CAO CỦA THE JADE ORCHID', 'The Jade Orchid Cổ Nhuế là đại dự án đại diện cho khu vực phía Tây Hồ Tây. Nằm trên trục đường Nguyễn Hoàng Tôn kéo dài qua Phạm Văn Đồng, giao thoa với đường Tân Xuân, đây là khu vực giao lưu với Thành Phố Hà Nội khi kết nối thuận tiện.')
        
        .wrapLocaDetail 
            .row 
                .col-sm-8 
                    .wrapImgLoca
                        a.imgloca(href= '#', title='Xem thêm')
                            img(src="images/banner/bg-location.jpg", alt="")
                .col-sm-4
                    .wrapTextAboutHome
                        p Khách sạn Miracle Luxury, nơi quy tụ không gian sang trọng, đẳng cấp

                        ul
                            li Nơi lưu giữ những trải nghiệm, điểm đến an toàn và sự hài lòng của quý khách
                            li Check-in với các hạng phòng sang trọng, đầy đủ các tiện nghi, ban công hướng biển…
                            li Tọa lạc ngay trung tâm thành phố, gần các trung tâm vui chơi giải trí, mua sắm và ăn uống... 
                            li ‍Miễn phí tận hưởng các Dịch vụ tiện ích Khách sạn: Hồ bơi, Gym, Xông hơi, Xông khô, Wifi…
                            li Miễn phí trang trí phòng Honey moon dành cho các cặp đôi
                            li Hỗ trợ cho khách hàng nhận phòng sớm và trả phòng trễ tùy theo tình trạng phòng có sẵn.
