.wrapLocation
    .container-xl.containerItem
        .wrapLocaContent
            +render_title_02('Vị trí Dự Án The Jade Orchid', 'VỊ TRÍ VÀNG CHIẾN LƯỢC ĐẦU TƯ SINH LỜI CAO CỦA THE JADE ORCHID', 'The Jade Orchid Cổ Nhuế là đại dự án đại diện cho khu vực phía Tây Hồ Tây. Nằm trên trục đường Nguyễn Hoàng Tôn kéo dài qua Phạm Văn Đồng, giao thoa với đường Tân Xuân, đây là khu vực giao lưu với Thành Phố Hà Nội khi kết nối thuận tiện.')
        
        .wrapLocaDetail 
            .row 
                .col-sm-8.imgLeft 
                    .wrapImgLoca
                        a.imgloca(href= '#', title='Xem thêm')
                            img(src="images/banner/bg-location.jpg", alt="Vị trí Dự Án The Jade Orchid")
                .col-sm-4.contentRight
                    .wrapTextAboutHome
                        p The Jade Orchid nằm vị trí Vàng của quận Bắc Từ Liêm. Từ dự án dễ dàng di chuyển sang các vùng lân cận:

                        ul
                            li 
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512") 
                                    path(d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z")
                                | Công viên Hòa Bình cách đó 1200m
                            li 
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512") 
                                    path(d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z")
                                | 1500m đến cầu Thăng Long
                            li 
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512") 
                                    path(d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z")
                                | Trường Tiểu học và Trung học Cổ Nhuế cách 1500m
                            li ‍
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512") 
                                    path(d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z")
                                | 10p vào trung tâm TP Hà Nội.
                            li 
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512") 
                                    path(d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z")
                                | Bệnh viện E cách 3500m
                            li 
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512") 
                                    path(d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z")
                                | Sân bay Nội Bài: 21km
                            li 
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512") 
                                    path(d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z")
                                | Đại học Quốc Gia: 9 km 
                            li 
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512") 
                                    path(d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z")
                                | BV Đa khoa Phương Đông 1900m


