.wrapLocation
    .container-xl.containerItem
        .wrapLocaContent
            +render_title_02('Vị trí Dự Án The Jade Orchid', 'VỊ TRÍ VÀNG CHIẾN LƯỢC ĐẦU TƯ SINH LỜI CAO CỦA THE JADE ORCHID', 'The Jade Orchid Cổ Nhuế là đại dự án đại diện cho khu vực phía Tây Hồ Tây. Nằm trên trục đường Nguyễn Hoàng Tôn kéo dài qua Phạm Văn Đồng, giao thoa với đường Tân Xuân, đây là khu vực giao lưu với Thành Phố Hà Nội khi kết nối thuận tiện.')
        
        .wrapLocaDetail 
            .row 
                .col-sm-8.imgLeft 
                    .wrapImgLoca
                        a.imgloca(href= '#', title='Xem thêm')
                            img(src="images/banner/bg-location.jpg", alt="")
                .col-sm-4.contentRight
                    .wrapTextAboutHome
                        p The Jade Orchid nằm vị trí Vàng của quận Bắc Từ Liêm. Từ dự án dễ dàng di chuyển sang các vùng lân cận:

                        ul
                            li Công viên Hòa Bình cách đó 1200m
                            li 1500m đến cầu Thăng Long
                            li Trường Tiểu học và Trung học Cổ Nhuế cách 1500m
                            li ‍10p vào trung tâm TP Hà Nội.
                            li Bệnh viện E cách 3500m
                            li Sân bay Nội Bài: 21km
                            li Đại học Quốc Gia: 9 km 
                            li BV Đa khoa Phương Đông 1900m
