// room list
.wrapServices.wrapContent1.bgColor1
    .container-xl.containerItem 
        .contentItem
            +render_title('Dịch vụ & Tiện ÍCh The Jade Orchid', 'Dự án The Jade Orchid Cổ Nhuế nằm trong khu đô thị Cổ Nhuế – Chèm đẳng cấp bậc nhất Hà Nội nên được thừa hưởng trọn bộ tiện ích mà khu đô thị mang lại. Ở đây quý khách hàng The Jade Orchid Cổ Nhuế được thừa hưởng các dịch vụ tiện ích hiện đại, tiện nghi, đầy đủ các tiện ích thể thao, giải trí.')

            .row.listImgServices.justify-content-center
                each item in data.services
                    .col-sm-4.colItem(data-src= item.img) 
                        .contentCol 
                            .wrapImg
                                a.wrapImgResize.img9And16.imgService(href= item.link title= item.title)
                                    img(src= item.img alt= item.title)
                            
                            .warpText 
                                p.contentText= item.summary

// end room list

