// color
$color1: white;
$color2: #333;
$color3: #007fb2;
$color4: #f7f7f7;
$color5: #dbdedf;
$color6: #ddd;
$color7: #eeeeee;
$color8: black;
$color9: rgba(0, 0, 0, 0.8);
$color10: rgba(255, 255, 255, 0.8);
$color11: red;
$color12: #6c7592;
$color13: #0090cf;
$color14: #656565;
$color15: #cacaca;
$color16: #051242;
$color17: rgba(255, 255, 255, 0.8);
$color18: rgba(15, 117, 189, 0.95);
$color19: #f1f1f1;
$color20: #ffc107;
$color21: rgba(0, 0, 0, 0.6);
$color22: #edbd25;
$color23: #d8a24e;
$color24: rgba(0, 0, 0, 0.9);
$color25: rgb(0, 127, 178, 0.5);
$color26: #2d97c5;
$color27: rgba(255, 255, 255, 0.1);
$color28: #0a3052;
$color29: #ffd400;
$color30: #005169;
$color31: #999;
$color32: #f2f2f2;

// box shadow
$boxShadow1: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
$boxShadow2: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
$boxShadow3: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
$boxShadow4: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);

// text shadow
$textShadow1: 0px 0px 1px #ffffff;

// font family
$nameFont1: 'RobotoCondensed';
$nameFont2: 'Comfortaa';