.wrapCopyright{
    font-size: 14px;
    line-height: 22px;
    color: $color1;
    margin-top: 10px;
    border-top: 1px dashed $color27;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;

    .textCenter {
        text-align: center;
    }

    p {
        margin: 0;
    }

}


@media (max-width: 768px) {
    .wrapCopyright{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}