.footer {
    background-color: rgb(27,58,105);

    .bgItem {
        padding: 30px 0 0 0;
    }

    .titleFooter {
        position: relative;
        font-size: 18px;
        font-family: $nameFont1;
        color: $color1;
        font-weight: 500;
        line-height: 25px;

        &::after {
            content: "";
            position: absolute;
            top: 30px;
            left: 0;
            width: 30px;
            height: 2px;
            background-color: $color23;
        }
    }

    .contact {
        .wrapInfo {
            margin-top: 30px;
        }

        .linkItem {
            position: relative;
            padding-left: 30px;
            color: $color5;
            @include transition(0.5s);
            display: block;
            margin-top: 30px;

            &:first-child {
                margin-top: 0;
            }

            &:hover {
                color: $color20;
            }

            svg {
                width: 17px;
                height: 17px;
                position: absolute;
                top: 2px;
                left: 0;
                color: $color20;
            }
        }
    }

    .formGroup {
        margin-top: 25px;
        padding: 0 5px;

        .formControl {
            margin-bottom: 15px;
            height: 35px;

            .inputFooter {
                background: none;
                border: 1px solid;
                border-color: rgba(154,159,170,0.3);
                color: $color1;
            }
        }
    }

    .wrapNote {
        margin-top: 30px;
        p {
            color: $color5;
            line-height: 35px;
        }
    }


}

@media (max-width: 1199px) {
    .footer {
        .bgItem {
            padding: 30px 0 0 0;
        }
    }
}

@media (max-width: 991px) {
    .footer {
        .bgItem {
            padding-top: 0px;
        }

        .contact {
            margin-top: 30px;
        }

        .wrapSocial {
            margin-top: 15px;
        }
        
        .contact {
            .wrapInfo {
                margin-top: 15px;
            }

            .linkItem {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .bgItem {
            padding: 0;
        }
    }
}

@media (max-width: 575px) {
    .footer {
        .contact {
            .wrapInfo {
                margin-top: 15px;
            }
        }
    }
}


@media (max-width: 425px) {
    .footer {
        .subscribeVisit {
            display: none;
        }
    }
}
