.formContent {
    $heightInputItem: 45px;

    .lblItem {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: $color12;
        margin: 0 0 5px 0;
        text-transform: capitalize;
    }
    
    .inputGroupItem {
        position: relative;
        border: 1px solid $color12;
        @include borderRadius(5px);
    }
    
    .iconItem {
        position: absolute;
        top: 50%;
        left: 15px;
        font-size: 16px;
        color: $color12;
        width: 20px;
        text-align: center;
        @include translate(0, -50%);
        z-index: 0;
        text-align: center;

        svg {
            height: $heightInputItem;
            width: 15px;
            display: inline-block;
        }
    }

    .inputItem {
        font-size: 16px;
        line-height: $heightInputItem;
        height: $heightInputItem;
        padding: 0 15px 0 40px;
        border: none;
        width: 100%;
        color: $color12;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    textarea {
        &.inputItem {
            border: 1px solid $color12;
            @include borderRadius(3px);
            padding: 10px 15px;
            line-height: 26px;
            display: block;
        }
    }
}