.wraptitleProjectNews {
    border-bottom: 1px #ddd solid;
}
.titleMainProjectNews {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4px;
    color: #222;
}