// sub
.titleSubItem1 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: $color20;
    text-transform: uppercase;
    margin: auto auto 10px auto;
    display: table;
    position: relative;
}

.titleLeft {
    .titleSubItem1 {
        margin-left: 0;
    }
}
// end sub

// main
.titleMainItem2,
.titleMainItem1 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    color: $color16;
    margin: 0;
    text-transform: uppercase;
    font-family: $nameFont2;
    text-align: center;
}

.titleMainItem2 {
    text-align: center;
    color: $color1;
}

.titleWhite {
    .titleMainItem1 {
        color: $color1;
    }
}

.titleLeft {
    .titleMainItem1 {
        text-align: left;
    }
}

@media (max-width: 991px) {
    .titleMainItem2,
    .titleMainItem1 {
        font-size: 30px;
        line-height: 54px;
    }
}

@media (max-width: 575px) {
    .titleMainItem2,
    .titleMainItem1 {
        font-size: 20px;
        line-height: 44px;
    }
}

// end main
// normal
.titleItem5,
.titleItem4,
.titleItem3,
.titleItem2,
.titleItem1,
.linkTitleItem3,
.linkTitleItem2,
.linkTitleItem1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $color2;
    display: block;
    @include transition(0.5s);
    text-transform: uppercase;
    margin: 0;
}

.titleItem2,
.linkTitleItem2 {
    text-align: center;
    color: $color1;
    font-size: 14px;
    line-height: 20px;
}

.linkTitleItem3 {
    font-size: 18px;
    line-height: 24px;

    &:hover {
        color: $color20;
    }
}

.titleItem4,
.titleItem3 {
    font-size: 24px;
    line-height: 30px;
}

.titleItem4 {
    position: relative;
    padding-bottom: 10px;
    font-family: $nameFont2;
}

.titleItem5 {
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
}
// end normal

// extend title
.titleInfo1 {
    line-height: 36px;
    color: #fff;
    font-family: revert;
    font-size: 30px;
}

.titleInfo2 {
    color: $color29;
    font-size: 27PX;
    line-height: 36px;
    font-family: sans-serif;
}

.titleInfo3 {
    line-height: 36px;
    font-family: $nameFont2;
    font-size: 18px;
    color: $color29;
    font-weight: normal;

}



@media screen and (max-width: 870px) {
    .titleInfo1 {
        font-size: 20px;
    }
    .titleInfo2 {
        font-size: 20PX;
        line-height: 20px;
    }
    .titleInfo3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 549px) {
    .titleInfo1 {
        font-size: 16px;
    }
    .titleInfo2 {
        font-size: 16PX;
        line-height: 20px;
    }
    .titleInfo3 {
        font-size: 16px;
    }
}

// end extend title