.wrapLocation {
    .wrapLocaContent {
        .titleRegisInfo1 {
            color: $color30;
        }
    }
    .wrapLocaDetail {
        .imgloca {
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
    
    
}