.wrapNews {
    .colItem {
        margin-top: 30px;
    }

    .wrapImg {
        overflow: hidden;
        @include borderRadius(10px);

        .wrapImgResize {
            @include transition(0.5s);
        }
    }

    .contentCol {
        &:hover {
            .wrapImg {        
                .wrapImgResize {
                    @include transform(scale(1.2));
                }
            }
        }
    }

    .wrapInfo {
        margin: 15px 0 0 0;

        svg {
            width: 20px;
            height: 20px;
            display: inline-block;
            @include translate(0, -2px);
            margin-right: 5px;
            color: $color20;
        }

        .author,
        .date {
            float: left;
            margin: 0;
        }

        .date {
            margin-left: 15px;
        }
    }

    .titleMain {
        margin: 15px 0 0 0;
    }

    .linkTitle {
        font-family: $nameFont2;
        @include splitText(2, 56px);
        line-height: 28px;
    }

    .wrapSummary {
        margin: 15px 0 0 0;
        @include splitText(3, 66px);
    }

    .btnWatchMore {
        margin-top: 15px;
    }
}

@media (max-width: 991px) {
    .wrapNews {
        .rowList {
            margin: 0 -7.5px;
        }

        .colItem {
            padding: 0 7.5px;
            margin-top: 15px;
        }
    }
}