.bgRegisInfo {
    background-image: url("../images/banner/bg-registerInfo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 55%;
    padding: 30px 0;
    // .wrapContent {
    //     // .titleRegisInfo1 {
    //     //     line-height: 36px;
    //     //     color: #fff;
    //     //     font-family: revert;
    //     //     font-size: 30px;
    //     // }
    //     // .titleRegisInfo2 {
    //     //     color: $color29;
    //     //     font-size: 27PX;
    //     //     line-height: 36px;
    //     //     font-family: sans-serif;
    //     // }
    //     // .titleRegisInfo3 {
    //     //     line-height: 36px;
    //     //     font-family: $nameFont2;
    //     //     font-size: 18px;
    //     //     color: $color29;
    //     //     font-weight: normal;
        
    //     // }

    // }
    .wrapFormRegisInfo {
        padding: 30px 0;
        .colItemRegisInfo  {
            
            .inputItem {
                padding: 0 10px 20px 10px;
                .formControl {
                    height: 45px;
                }
                .inputForm {
                    width: 100%;
                    height: 100%;
                    font-family: $nameFont1;
                    font-size: 16px;
                    padding: 0 10px;
                    border-radius: 5px;
                    border: none;
                    &:focus {
                        box-shadow: 0 0 8px rgb(223, 217, 217) !important;
                    }
                }
                .submitInput {
                    background-color: $color23;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                    &:hover {
                        opacity: 0.6;
                    }
                    &:focus {
                        box-shadow: none !important;
                    }

                }
            }
        }
        
        
    }
}

// media

// @media screen and (max-width: 870px) {
//     .bgRegisInfo {
//         .wrapContent {
//             .titleRegisInfo1 {
//                 font-size: 20px;
//             }
//             .titleRegisInfo2 {
//                 font-size: 20PX;
//                 line-height: 20px;
//             }
//             .titleRegisInfo3 {
//                 font-size: 18px;
//             }
    
//         }
//     }
// }

// @media screen and (max-width: 549px) {
//     .bgRegisInfo {
//         .wrapContent {
//             .titleRegisInfo1 {
//                 font-size: 16px;
//             }
//             .titleRegisInfo2 {
//                 font-size: 16PX;
//                 line-height: 20px;
//             }
//             .titleRegisInfo3 {
//                 font-size: 16px;
//             }
    
//         }
//     }
// }