.wrapContentPost
    .blockTitleContent
        ul.listPost
            each item in data_page.content_post 
                li.itemContentPost
                    h2.postTitleMain
                        a(href='javascript:void(0);', title= item.title)= item.title
                    .wrapImgPost.wrapImgResize 
                        a.imgContentPost(href='javascript:void(0);', title= item.content)
                            img(src= item.url_img, alt= item.title)
                    span.timePost= item.time_post
                    p.contentPost= item.content
        
    
