.wrapContentMain
    .container-xl.containerItem
        .contentItem
            .row    
                .col-lg-8
                    include ../projectNews/boxTitle
                    include ../projectNews/content

                .col-lg-4 
                    include ../projectNews/boxTitle
                    