.wrapContentMain
    .container-xl.containerItem
        .contentItem
            .row    
                .col-lg-9.contentLeft
                    include ../projectNews/boxTitle
                    include ../projectNews/content

                .col-lg-3.contentRight
                    include ../projectNews/hotTopic
                    include ../projectNews/newForYou
                    include ../projectNews/focalCharacter

                    