.wrapContentMain
    .container-xl.containerItem
        .contentItem
            .row    
                .col-lg-9.contentLeft
                    +render_box_general_news_title("TIN DỰ ÁN", "19/07/2021")
                    include ../projectNews/content

                .col-lg-3.contentRight
                    include ../projectNews/hotTopic
                    include ../projectNews/newForYou
                    include ../projectNews/focalCharacter
                    include ../projectNews/expertOpinion
                    include ../general/sellEstate
                    include ../projectNews/utilityList




                    