// copyright
.wrapCopyright.clearfix
    .textLeft.titleCopyright
        p © 2022 Miracle Luxury Hotel <b style="color: #ffc107;">Nha Trang</b>

    .wrapImgQRCode
        .wrapImgResize.imgSquare 
            img(src='images/logo/qr-code.png' alt='QRcode')

    .textRight.titleDeveloper
        p Thiết kế và phát triển bởi <a href="https://www.sweetsoft.vn/" title="thiết kế web Nha Trang,thiet ke web nha trang,thiết kế web Khánh Hòa,công ty,phần mềm,tin học">SweetSoft JSC</a>
// end copyright