.footer
    .bgItem
        .container-xl.containerItem
            .contentItem
                .row.rowList
                    .col-md-4.colItem.contact
                        .contentCol
                            .titleItem4.titleFooter Thông tin liên hệ

                            .wrapInfo
                                each item in data.footer.contact
                                    a.linkItem(href= item.link, title= item.title target= item.target == true ? '_blank' : '')
                                        +render_svg(item.icon.view, item.icon.data)
                                        = item.title

                    .col-md-4.colItem.contact.subscribeVisit
                        .contentCol
                            .titleItem4.titleFooter Đăng ký tham quan dự án

                            form.formGroup.inputItem
                                each item in data.input_form
                                    .formControl.formControlContact
                                        input.inputForm.inputFormContact.firstName.inputFooter(type= item.type, name= item.name, placeholder= item.placeholder )
                                    
                                .formControl.formControlContact
                                    input.inputForm.inputFormContact.submitInput.submitInputFooter(type="submit" value="Nhận vé ngay!")   

                    .col-md-4.colItem.contact
                        .contentCol
                            .titleItem4.titleFooter Lưu ý

                            .wrapNote
                                p *&nbsp Cập nhật liên tục những thông tin mới nhất từ Chủ đầu tư. Căn hộ cao cấp và các trang thiết bị kèm theo sẽ được bàn giao theo đúng quy định tại Hợp Đồng Mua Bán ký kết.

            include copyright.pug







// footer


// end footer
|
|
include button_scroll_top
|
|
+render_link_js(data_page)



