#modalFormLogin.modalFormLogin.modalFormLoginRegister.modal.fade(tabindex='-1' role="dialog" aria-labelledby='modalFormLogin' aria-hidden='true') 
    .modal-dialog.modal-dialog-scrollable.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h3#modalFormLogin.modal-title Đăng nhập
                a.close(href='javascript:void(0);' title='Đóng' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×

            .modal-body
                form
                    .form-group
                        label Email 
                        input#inputEmail.form-control(type="email" aria-describedby="emailHelp" placeholder="Nhập địa chỉ email")
                    .form-group
                        label Mật khẩu
                        input#inputPassword1.form-control(type="password" placeholder="nhập mật khẩu")
                    .form-check
                        input#checkPassword.form-check-input(type="checkbox")
                        label.form-check-label(for= 'checkPassword') Nhớ mật khẩu
                        a.form-check-label.float-right(href='javascript:void(0);' title='Quên mật khẩu') Quên mật khẩu
                    button.btn.w-100(type="submit") Đăng nhập   
            .modal-footer
                a(href='javascript:void(0);' title='Đăng ký' data-toggle= 'modal' data-target= '#modalFormRegister') Đăng ký