#modalFormRegister.modalFormRegister.modal.fade(tabindex='-1' role="dialog" aria-labelledby='modalFormRegister' aria-hidden='true') 
    .modal-dialog.modal-dialog-scrollable.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h5#modalFormRegister.modal-title Đăng ký
                a.close(href='javascript:void(0);' title='Đóng' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×

            .modal-body
            .modal-footer