#modalFormRegister.modalFormRegister.modalFormLoginRegister.modal.fade(tabindex='-1' role="dialog" aria-labelledby='modalFormRegister' aria-hidden='true') 
    .modal-dialog.modal-dialog-scrollable.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h3#modalFormRegister.modal-title Đăng ký
                a.close(href='javascript:void(0);' title='Đóng' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×

            .modal-body
                form
                    .form-group
                        label Email 
                        input#inputEmail.form-control(type="email" aria-describedby="emailHelp" placeholder="Nhập địa chỉ email")
                        small#emailHelp.form-text.text-muted  Chúng tôi sẽ không bao giờ chia sẻ email của bạn với bất kỳ ai khác.
                    .form-group
                        label Mật khẩu
                        input#inputPassword.form-control(type="password" placeholder="nhập mật khẩu")
                    .form-group
                        label Nhập lại mật khẩu
                        input#inputPassword.form-control(type="password" placeholder="Nhập lại mật khẩu")
                    .form-check
                        input#checkRememberPassword.form-check-input(type="checkbox")
                        label.form-check-label(for= 'checkRememberPassword') Nhớ mật khẩu
                        a.form-check-label.float-right(href='javascript:void(0);' title='Quên mật khẩu') Quên mật khẩu
                    button.btn.w-100(type="submit") Đăng nhập   
            .modal-footer
                a(href='javascript:void(0);' title='Đăng nhập' data-toggle= 'modal' data-target= '#modalFormLogin') Đăng nhập