.wrapsellEstate
    +render_title_projectNews('MUA BÁN NHÀ ĐẤT TẠI HOÀI NHƠN')

    .wrapContentsellEstate
        ul.listSellEsate
            each item in data.sell_estate
                li.listItemSellEsate
                    .wrapImgSellEsate.wrapImgResize
                        a(href='javascript:void(0);' title= item.content)
                            img(src= item.url_img , alt= item.content) 
                    h4.titleContentSellEsate 
                        a(href='javascript:void(0);' title= item.content)= item.content
                            span= item.price 